/* Asterisk wildcard selector to override default styles set by browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/

body {min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background-color: blue;
    font-family: 'Cinzel Decorative', 'Courier New', Courier, monospace;
}
    
/* main content */
main {
    background-color: aqua;
    /* make main element take up surplus space*/
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: blueviolet;
}