/* Asterisk wildcard selector to override default styles set by browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace
}

/* header */

header {
    background-color: rgba(0, 20, 30, 0.8);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 20, 30, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: 'Cinzel Decorative', 'Courier New', Courier, monospace;
    color: rgba(250, 248, 242, 0.9);
    text-shadow: 3px 3px 3px rgba(213, 75, 50, 0.9);
    text-align: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    font-size: 130%;
    font-weight: bolder;
    border-bottom: 1px solid;
}

/* Navbar styles with dropdown toggle */
nav {position: absolute;
    background-color: rgba(0, 20, 30, 0.8);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 3px rgba(0, 20, 30, 0.8);
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

nav a:link {
    color: #d6d1d1;
    font-size: 15px;
    font-family: 'Cinzel Decorative', 'Courier New', Courier, monospace;
}


nav a:visited {
    color: #d6d1d1;
}

nav a:hover {
    color: #e99494;
}


/* main content */
main {
    background-color: aqua;
    /* make main element take up surplus space*/
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: blueviolet;
}